Some mail servers do not remove the dot-stuffing from RFC 2821 4.5.2

This is related to #1775 - a fix to this would likely serve as an incidental fix to that one.  I'm filing this as a way to track the folks that have reported it, now that we know what the problem is.

According to section 4.5.2 of RFC 2821, when a sent email has a line that starts with a dot, the sending client should add another dot.  This seems to mostly be a problem with quoted-printable emails.  The first mail server that receives this email is *supposed* to remove the double dot, but some clearly do not.

While it's not technically Cerb's problem, we can probably address it in the parser.  (I don't think the Mail Filtering Automations are early enough in the process to do so.)

We don't have a good way to handle this right now. We wouldn't know if the dot was intentional or not.